
@{
    ViewBag.Title = "Hakkımda";
}
<style>

    section {
        margin: 50px 0;
    }

    ul {
        margin: 35px 0;
    }

    h3 {
        font-size: 25px;
        line-height: 35px;
        font-weight: 600;
        color: #1abc9c;
        margin-bottom: 35px;
        letter-spacing: 0.5px;
    }
</style>
<div class="sub-title">
    <a href="/anasayfa" title="Anasayfaya Dön"><h2> Anasayfaya Dön</h2></a>
    <a href="/iletisim"><i class="icon-envelope"></i></a>
</div>
<div class="col-md-12 content-page">
    <div class="col-md-12 blog-post">
        <!-- My Intro Start -->
        <div class="post-title margin-bottom-30">
            <h1>
                Selamlar, ben <span class="main-color">Sefa</span>
            </h1>
            <p>
                Hemen kısaca kendimden bahsedeyim. Junior .NET Developerim-ingilizceye türkçe ek, severiss-. Kastamonuluyum, İstanbul’da yaşıyorum. Beykent Üniversitesi Yazılım Mühendisliği mezunuyum.
            </p>
            <p>
                Şu anda itelligence Türkiye şirketinde Yazılım Geliştirme Uzman Yardımcısı olarak çalışmaktayım. Devamlı yeni teknolojileri öğrenerek kendimi geliştirmekteyim.
            </p>
        </div>
        <!-- My Intro End -->

        <section>
            <div class="post-title">
                <h3><span class="main-color">İş Deneyimleri</span></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Yazılım Geliştirme Uzman Yardımcısı
                    <br /> itelligence Türkiye
                    <br /> <small>07.2019 - Devam etmekte</small>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Junior .NET Developer
                    <br /> BELBİM A.Ş.
                    <br /> <small>11.2018 - 02.2019</small>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Software Intern
                    <br /> Activebuilder Solutions
                    <br /> <small>07.2018 - 08.2018</small>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Junior .NET Developer
                    <br /> CF Mühendislik Telekomünikasyon
                    <br /> <small>07.2017 - 06.2018</small>
                </li>
            </ul>
        </section>
        <section>
            <div class="post-title">
                <h3>
                    <span class="main-color">Alınan Eğitimler</span>
                </h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    ASP.NET Core ile Kurumsal Mimari
                    <br /><b>İSMEK</b>
                </li>
                <li class="list-group-item">
                    Jquery ve AJAX ile Web Programlama
                    <br /><b>İSMEK</b>
                </li>
                <li class="list-group-item">
                    Angular
                    <br /><b>İSMEK</b>
                </li>
                <li class="list-group-item">
                    Bootstrap
                    <br /><b>İSMEK</b>
                </li>
                <li class="list-group-item">
                    Database Management <small>(SQL - TSQL)</small>
                    <br /><b>İSMEK</b>
                </li>
                <li class="list-group-item">
                    ASP.NET MVC
                    <br /><b>İSMEK</b>
                </li>
                <li class="list-group-item">
                    Java ile Android Programlama <small>(101 - 201 - 301 - 401)</small>
                    <br /><b>Başakşehir İnovasyon ve Teknoloji Merkezi</b>
                </li>
            </ul>
        </section>
    </div>
</div>