
@{
    ViewBag.Title = "Hakkımda";
}

<style>
    section {
        margin: 50px 0;
    }

    ul {
        margin: 35px 0;
    }

    h3 {
        font-size: 25px;
        line-height: 35px;
        font-weight: 600;
        color: #1abc9c;
        margin-bottom: 35px;
        letter-spacing: 0.5px;
    }
</style>

<div class="sub-title">
    <a href="/Anasayfa" title="Anasayfaya Dön"><h2> Anasayfaya Dön</h2></a>
    <a href="/Iletisim"><i class="icon-envelope"></i></a>
</div>

<div class="col-md-12 content-page">
    <div class="col-md-12 blog-post">

        <!-- My Intro Start -->
        <div class="post-title margin-bottom-30">
            <h1>
                Selamlar, ben <span class="main-color">Sefa DOĞAN</span>
            </h1>

            <ul class="knowledge">
                <li class="bg-color-1">ASP .NET MVC</li>
                <li class="bg-color-5">AngularJS</li>
                <li class="bg-color-4">Öğrenci</li>
                <li class="bg-color-6">Freelancer</li>
            </ul>

        </div>
        <!-- My Intro End -->

        <p>
            Hemen kısaca kendimden bahsedeyim. Junior .NET developerim. Kastamonuluyum, İstanbul’da yaşıyorum. Şu anda Beykent Üniversitesi’nde 4. Sınıf, Yazılım Mühendisliği bölümünü okumaktayım. Son yıllarda .NET teknolojileriyle ilgilenmeye çalışıyorum.
        </p>

        <section>
            <div class="post-title">
                <h3><span class="main-color">İş Deneyimleri</span></h3>
            </div>

            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Intern - Activebuilder Solutions
                    <span class="badge badge-primary badge-pill">2 Ay</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Junior .NET Developer - CF Mühendislik Telekomünikasyon
                    <span class="badge badge-primary badge-pill">1 Yıl</span>
                </li>
            </ul>
        </section>

        <section>
            <div class="post-title">
                <h3>
                    <span class="main-color">Alınan Eğitimler</span> <small>(Sertifikalı)</small>
                </h3>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Jquery ve AJAX ile Web Programlama <small>(devam etmekte)</small>
                    <br />İSMEK
                </li>
                <li class="list-group-item">
                    AngularJS <small>(devam etmekte)</small>
                    <br />İSMEK
                </li>
                <li class="list-group-item">
                    Bootstrap
                    <br />İSMEK
                </li>
                <li class="list-group-item">
                    Veri Tabanı Yönetimi - SQL Geliştirme
                    <br />İSMEK
                </li>
                <li class="list-group-item">
                    ASP .NET MVC ile Web Programlama Geliştirme
                    <br />İSMEK
                </li>
                <li class="list-group-item">
                    Java ile Android Programlama 101 - 401
                    <br />Başakşehir İnovasyon ve Teknoloji Merkezi
                </li>
            </ul>
        </section>

    </div>

</div>