@model BlogApp.DAL.Entity.User

@{
    Layout = null;
}

<html>
<head>
    <title>Login - Sefa DOĞAN Admin Panel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/icons/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="~/Areas/AdminPanel/Temp/Login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/AdminPanel/Temp/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/AdminPanel/Temp/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/AdminPanel/Temp/Login/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/AdminPanel/Temp/Login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/AdminPanel/Temp/Login/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/AdminPanel/Temp/Login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/AdminPanel/Temp/Login/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/AdminPanel/Temp/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/AdminPanel/Temp/Login/css/main.css">

    <style>
        body {
            background: url("../../Areas/AdminPanel/Temp/Login/images/bg-01.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .forgot-password {
            font-size:15px;
            color: #adadad;
        }
        .forgot-password:hover{
            text-decoration:underline;
            cursor: default;
            color: #5e5e5e;
        }
    </style>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    ADMIN LOGIN
                </span>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login100-form validate-form p-b-33 p-t-5" }))
                {
                    <div class="wrap-input100" style="padding-bottom:0;">
                        @{
                            if (ViewBag.ServiceResult != null)
                            {
                                <div class="alert alert-@ViewBag.Type show small" role="alert" style="margin-bottom:50px;">
                                    @ViewBag.ServiceResult
                                </div>
                            }
                        }
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter email">
                        <input class="input100" type="text" name="email" placeholder="Email" autocomplete="off" value="sefa@mail.com">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="password" placeholder="Password" autocomplete="off" value="123123qwe">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                    <div class="container-login100-form-btn m-t-32">
                        <span class="forgot-password">Forgot password? Check out SSMS :)</span>
                    </div>
                }
            </div>
        </div>
    </div>

    <script src="~/Areas/AdminPanel/Temp/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Areas/AdminPanel/Temp/Login/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Areas/AdminPanel/Temp/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Areas/AdminPanel/Temp/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Areas/AdminPanel/Temp/Login/vendor/select2/select2.min.js"></script>
    <script src="~/Areas/AdminPanel/Temp/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Areas/AdminPanel/Temp/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Areas/AdminPanel/Temp/Login/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Areas/AdminPanel/Temp/Login/js/main.js"></script>
</body>
</html>

