
@{
    ViewBag.Title = "500 İç Sunucu Hatası";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="error-page">
    <div class="error-page-type">
        <h1>Oops!</h1>
        <h2>500 - BEKLENMEDİK HATA OLUŞTU</h2>
    </div>
    <a href="/anasayfa">ANASAYFAYA GERİ DÖN</a>
</div>

